/assignment1/*.txt
/assignment1/*.html
#/assignment1/!*.py

/assignment2/!*.sql
/assignment3/*
/assignment3/data/
/assignment3/solutions/
/assignment3/!*.py
/assignment4/*
/assignment4/pigtest/
/assignment4/!*.py
/assignment5/*
/assignment5/!*.py